extends layout

block content
		div(class="row")
			div(class="col-sm-10 col-lg-10 col-md-10")
				div(class="container-fluid" style="background-color:#e8e8e8")
					div(class="container container-pad" id="property-listings")
						div(class="row")
							div(class="col-md-12")
								h1 Contact Us

								div(class="row")
									div(class="col-sm-10")

										div(class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing")


												div(class="media-body")
													a(href="#" target="_parent")

													h3
														div
															span(class="glyphicon glyphicon-envelope" style="margin-right: 20px;")
															a(href="mailto: lashaedesign11@yahoo.com?Subject=Inquiry" target="_top") lashaedesign11@yahoo.com

													h3
														div
															span(class="glyphicon glyphicon-envelope" style="margin-right: 20px;")
															a(href="mailto: kkreborns@yahoo.com?Subject=Inquiry" target="_top") kkreborns@yahoo.com

													h3
														div
															span(class="glyphicon glyphicon-earphone" style="margin-right: 20px;")
															span 646-389-7739

													h3
														div
															span(style="margin-right: 20px;")
																img(src="media/images/glyphicon_facebook.png")
															span(style="margin-right: 20px;")
																a(href="https://www.facebook.com/pages/Kindgom-Kidz-Nursery-for-Reborns/742538929156105?ref=aymt_homepage_panel") Facebook



													br

													span(class="fnt-smaller fnt-lighter fnt-arial") &copy Copyright Lashae Designs, Kingdom Kidz Reborn Nursery.

		div(class="container")
			hr
			footer
				div(class="row")
					div(class="col-lg-12")
						p Copyright &copy; Kingdom Kids Nursery 2015
