<!DOCTYPE html5>
<html>
	<head>
		<title>KK Angular No Server</title>
	</head>
	<body>
		<div id="container">
			<p>This is a Hello World! test.</p>			
		</div>
	</body>
</html>

<!--

extends layout

block content
					div(class="row carousel-holder")
						div(class="col-md-12")
							div(id="CarouselDemoCtrl")
								div(style="height:305px;")
									carousel(interval="myInterval")
										slide(ng-repeat="slide in slides" active="slide.active")
											img(ng-src="{{slide.image}}" style="margin:auto;")
											div(class="carousel-caption")
												p {{slide.alternatetext}}
					div(class="row")
						div(class="col-sm-4 col-lg-4 col-md-4")
							div(class="thumbnail")
								img(src="media/images/precious320x150.jpg" alt="Precious Baby")
								div(class="caption")
									h4(class="pull-right") $724.99
									h4
										a(href="#") Precious
									p If you love babies, then you will love this one.
								div(class="ratings")
									p(class="pull-right") 15 reviews
									p
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star")

						div(class="col-sm-4 col-lg-4 col-md-4")
							div(class="thumbnail")
								img(src="media/images/gracy320x150.jpg" alt="Precious Baby 2")
								div(class="caption")
									h4(class="pull-right") $1,064.99
									h4
										a(href="#") Chucky
									p If you love the way I painted this baby then you should have seen it before I started.  He looked like Chucky.
								div(class="ratings")
									p(class="pull-right") 12 reviews
									p
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star-empty")

						div(class="col-sm-4 col-lg-4 col-md-4")
							div(class="thumbnail")
								img(src="media/images/tracy320x150.jpg" alt="Heaven")
								div(class="caption")
									h4(class="pull-right") $974.99
									h4
										a(href="#") Heaven
									p This is a short description about my baby named Heaven.  She is from a place higher than you and me.
								div(class="ratings")
									p(class="pull-right") 31 reviews
									p
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star-empty")
					div(class="row")
						div(class="col-sm-4 col-lg-4 col-md-4")
							div(class="thumbnail")
								img(src="media/images/barry320x150.jpg" alt="Barry")
								div(class="caption")
									h4(class="pull-right") $84.99
									h4
										a(href="#") Fourth Product
									p This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								div(class="ratings")
									p(class="pull-right") 6 reviews
									p
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star-empty")
										span(class="glyphicon glyphicon-star-empty")

						div(class="col-sm-4 col-lg-4 col-md-4")
							div(class="thumbnail")
								img(src="media/images/dana320x150.jpg" alt="Dana")
								div(class="caption")
									h4(class="pull-right") $94.99
									h4
										a(href="#") Dana
									p This baby is named Dana for a reason.
								div(class="ratings")
									p(class="pull-right") 2 reviews
									p
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star-empty")
										span(class="glyphicon glyphicon-star-empty")
										span(class="glyphicon glyphicon-star-empty")
										span(class="glyphicon glyphicon-star-empty")

						div(class="col-sm-4 col-lg-4 col-md-4")
							div(class="thumbnail")
								img(src="media/images/darkskinnedbaby320.jpg" alt="Dark Skinned Baby")
								div(class="caption")
									h4(class="pull-right") $3,974.99
									h4
										a(href="#") Dark Skinned Baby
									p Is this not the most precious and beautiful baby you have ever seen?
								div(class="ratings")
									p(class="pull-right") 31 reviews
									p
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star")
										span(class="glyphicon glyphicon-star")
		div(class="container")
			hr
			footer
				div(class="row")
					div(class="col-lg-12")
						p Copyright &copy; Kingdom Kids Nursery 2015





-->