<div class="row">

	<div class="col-sm-10 col-lg-10 col-md-10">

		<div class="container-fluid" style="background-color:#e8e8e8">

			<div class="container container-pad" id="property-listings">

				<div class="row">

					<div class="col-md-12">

						<h1>Contact Us</h1>

						<div class="row">
							
							<div class="col-sm-10">

								<div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">

										<div class="media-body">
											
											<a href="#" target="_parent"></a>
											<!--<h3>
												<div>
													<span class="glyphicon glyphicon-envelope" style="margin-right: 20px;">
														<a href="mailto: lashaedesign11@yahoo.com?Subject=Inquiry" target="_top">
															lashaedesign11@yahoo.com
														</a>
													</span>
												</div>
											</h3>-->

											<h3>
												<div>
													<span class="glyphicon glyphicon-envelope" style="margin-right: 20px;">
														<a href="mailto: kkreborns@yahoo.com?Subject=Inquiry" target="_top">kkreborns@yahoo.com</a>
													</span>
												</div>
											</h3>
											<h3>
												<div>
													<span class="glyphicon glyphicon-earphone" style="margin-right: 20px;">
														<span>646-389-7739</span>
													</span>
												</div>
											</h3>
											<h3>
												<div>
													<span style="margin-right: 20px;">
														<img src="media/images/glyphicon_facebook.png" />
													</span>
													<span style="margin-right: 20px;">
														<a href="http://www.facebook.com/pages/Kindgom-Kidz-Nursery-for-Reborns/742538929156105?ref=aymt_homepage_panel">Facebook</a>
													</span>
												</div>
											</h3>

											<br />

											<span class="fnt-smaller fnt-lighter fnt-arial">
												&copy; Copyright Lashae Designs, Kingdom Kidz Reborn Nursery.
											</span>

										</div><!-- media-body -->
											
								</div><!-- brdr listing -->

							</div><!-- col-sm-10 -->

						</div><!-- row -->

					</div><!-- col-md-12 -->

				</div><!-- row -->

			</div><!-- container -->

		</div><!-- container-fluid -->

	</div><!-- col-sm-10 -->

</div><!-- row -->