<div class="row">	
	<div class="col-sm-10 col-lg-10 col-md-10">
		<div class="container-fluid" style="background-color:#e8e8e8">
			<div class="container container-pad" id="property-listings">
				<div class="row">
					<div class="col-md-12">
						<h1>Kingdom Kidz Nursery</h1>
						<h2>Welcome to a place of Love, Respect &amp; Beauty!</h2>

						<div class="row">
							<div class="col-sm-10">
								<div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">


									<div class="media">
											<iframe 
												class="moviebackground" 
												width="100%" 
												height="500" 
												src="http://www.youtube.com/embed/FUU9DJbZtz4" 
											></iframe>
										
										<div class="clearfix visible-sm">i a m test </div>

										<div class="media-body">
											
											<a href="#" target="_parent"></a>

											<h3>
												<a href="#" target="_parent">Updated Reborn Preemie Heaven</a>
												<small class="pull-right">$175.00</small>
											</h3>

											<br />

											<span class="fnt-smaller fnt-lighter fnt-arial">&copy; Copyright Kingdom Kidz Nursery.</span>
										</div>
									</div>


								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>